<form method='POST'>
  <label for='input-email'>Your email</label>
  <input id='input-email' type='email' placeholder='Your email' name='email' />
  <label for='input-password'>Password</label>
  <input
    id='input-password'
    type='password'
    placeholder='Your password'
    name='password'
  />
  <button>Log In</button>
</form>